.mat-mdc-card {
    width: 30%;
    margin-left: 35%;
    margin-top: 2%;
    background: var(--accent-color);
}

.mat-mdc-form-field {
    width: 100%;
}

.mdc-button {
    margin: 2%;
}

.example-spacer {
    flex: 1 1 auto;
}

.center {
    text-align: center;
}


   