.width {
  //width: 15%; 
  min-width: 15%;
  margin-right: 20px;
  margin-left: 20px;
}

// .width-right {
//   width: 15%; 
//   margin-left: 10px;
// }

.display {
  display: flex;
  margin-bottom: 20px;
  margin-top: 30px;
  justify-content: center;
}