<div class="display">
  <mat-card class="width">
    <mat-card-header>
      <mat-card-title>{{reactionLabel()}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <h1>{{reactionValue()}}</h1>
    </mat-card-content>
  </mat-card>

  <mat-card class="width">
    <mat-card-header>
      <mat-card-title>{{postLabel()}}</mat-card-title>
    </mat-card-header>
    <mat-card-content class="blog-content">
      <h1>{{postValue()}}</h1>
    </mat-card-content>
  </mat-card>

  <mat-card class="width">
    <mat-card-header>
      <mat-card-title>{{recordLabel()}}</mat-card-title>
    </mat-card-header>
    <mat-card-content class="blog-content">
      <h1>{{recordValue()}}</h1>
    </mat-card-content>
  </mat-card>
</div>
