

<form class="example-form" 
    [formGroup]="createPostForm"
    (ngSubmit)="onSubmit()">
    
    <h3 >Create Post</h3>
    
    
    <mat-form-field class="example-full-width">
        <mat-label>Title</mat-label>
        <input matInput #message maxlength="256" placeholder="Post content" formControlName="title" autocomplete="off">
        <mat-hint align="start"><strong>Don't disclose personal info</strong> </mat-hint>
        <mat-hint align="end">{{message.value.length}} / 256</mat-hint>

        @if (title.invalid && (title.dirty || title.touched)) {
            @if (title.hasError('required')) {
                <p class="text-warn">Title is required</p>
            }

            @if (title.hasError("maxlength")) {
                <p class="text-warn">Tile must not exceed 256 characters</p>
            }
        }
  </mat-form-field>

 
      <mat-form-field class="example-full-width" >
        <mat-label>Content</mat-label>
        <textarea matInput rows="6" maxlength="5000" placeholder="Post content" formControlName="content"></textarea>
      </mat-form-field>

    
    <div class="example-button-row">
        <button mat-flat-button type="submit" [disabled]="createPostForm.valid === false">Publish</button>
    </div>

  </form>
  

