<div class="heading">
    <h3 >Dashboard</h3>
    <!--child component-->
    <app-dashboard-statistics 
    [reactionValue]="12" [reactionLabel]="'Reactions'"
    [postValue]="124" postLabel="'Posts'"
    [recordValue]="80" [recordLabel]="'Records'"
    >
    </app-dashboard-statistics>
    
        <mat-card appearance="outlined" class="adjustments">
            <mat-card-header class="card-container">
                <span class="left-text"><h3>Left Text</h3></span>
                <mat-icon class="right-text" aria-hidden="false" aria-label="Example heart icon">edit</mat-icon>
            </mat-card-header>
            <mat-card-content>
                <mat-card-subtitle class="date">Published on June 20, 2025</mat-card-subtitle>
            </mat-card-content>
        </mat-card>

        <!-- @for (blogPost of blogPosts(); track blogPost.slug) {
            <h1>{{blogPost.title}}</h1>
        } -->


    
    

    
</div>
       
       
       

      




